*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter, sans-serif;
}

:root {
    --primary-color: #1A73E8;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F8FAFC;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 850px;
    width: 400px;
    padding: 30px 20px;
    background-color: #fff;
    gap: 25px;
    border-radius: 20px;
    box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* INICIO header */
.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.header > h1 {
    color: var(--primary-color);
}

/* FIM header */

/* INICIO PrimesInput */
.input-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.input-section > input {
    border: solid var(--primary-color) 2px;
    border-radius: 999px;
    height: 50px;
    text-align: center;
    font-size: 1.3rem;
}

.input-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    border-radius: 999px;
    height: 50px;
    font-size: 0.875rem;
    cursor: pointer;
    color: white;
    background-color: var(--primary-color);
}
/* FIM PrimesInput */

/* INICIO PrimesCalc */
.calc-output-section {
    display: flex;
    flex-direction: column;
    background-color: #8AB4F8;
    color: white;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
}

.total-prime-found, .total-prime-calc {
    display: flex;
    justify-content: space-between;
}
/* FIM PrimesCalc */

/* INICIO PrimesList */
.container-prime-list {
    display: flex;
    flex-direction: column;
    background-color: #EFF4FA;
    padding: 20px;
    gap: 10px;
    border-radius: 20px;
}
/* FIM PrimesList */
